[2018-08-31 01:27] hsluoyz opened #1 "Wrong sub-heading for Effect definition"
https://casbin.org/docs/syntax-for-models.html#request-definition-1

It should be ``Effect`` instead of ``Request``.

[2018-08-31 01:34] hsluoyz opened #2 "Provide more demos based on different scenarios"
The model syntax is difficult.

We need to provide different scenarios in our docs. Then provide a demo for each scenario with detailed explanation.

[2018-08-31 01:37] hsluoyz opened #3 "The language especially for model syntax is too obscure"
It's too academic-style. Will need improvement.

[2018-08-31 01:47] hsluoyz opened #4 "Address how Casbin implements RBAC96, including RBAC0, RBAC1, RBAC2, RBAC3"
Some users will want to know what's the relationship between Casbin' RBAC to the classic RBAC96 models. Need to clarify it.

[2018-08-31 04:51] #1 closed

[2019-06-03 15:24] hsluoyz opened #20 "[Online Editor] Allow to specify the attributes (struct) for the ABAC model"
Currently, there's no way to let users provide the attributes in ABAC in our editor: https://casbin.org/en/editor. We need to add this.

[2019-06-04 00:44] doctormacky opened #21 "casbin online editor can not work with "Group with domain model""
# Model

[code]

#  Policy

[code]

# Expect result:

alice, domain1, data1, read========> true

# Actual result

alice, domain1, data1, read=========> false

[2019-06-04 09:20] hsluoyz commented on #21
Hi @doctormacky , what you see is expected. It's not online editor or Casbin's bug. ``g`` and ``g2`` are two different RBAC trees. You can't expect that you give ``alice -> group1`` in ``g`` and ``group1 -> admin`` in ``g2``, then you get ``alice -> group1 -> admin`` working. You should carefully design your matcher and check whether your matcher works for your scenario.

[2019-06-12 08:23] AliYusuf95 opened #22 "[Online Editor] Add a customized function to matchers"
How to add [customized function](https://casbin.org/docs/en/syntax-for-models#how-to-add-a-customized-function) to matchers in the online editor?

[2019-06-13 08:35] hsluoyz commented on #22
Hi @AliYusuf95 , we can support custom functions in online editor, but it will be Javascript, as online editor uses a front-end JS version Casbin. Is this OK for you to write custom functions in Javascript?

[2019-06-13 10:07] AliYusuf95 commented on #22
@hsluoyz yes it's fine

[2019-06-14 05:09] nodece commented on #22
@AliYusuf95 Hey, It is [here](https://casbin.org/en/editor).

[2019-06-14 05:09] #22 closed

[2019-06-22 14:58] hsluoyz commented on #21
Closed as resolved.

[2019-06-22 14:58] #21 closed

[2019-07-23 07:53] itsbentsai opened #26 "Example Model "RBAC with deny-override" in Casbin Editor Displays Error Message"

[2019-07-23 10:16] hsluoyz commented on #26
Can you give an example?

[2019-07-25 13:37] hsluoyz commented on #26
Hi @itsbentsai , I have tried it with no error:

![image](https://user-images.githubusercontent.com/3787410/61878832-5ddda100-af24-11e9-8fa8-f0f0e6d1883f.png)

[2019-07-25 13:39] nodece commented on #26
@itsbentsai @hsluoyz Thanks for the report. Fixed in: d3abed5.

[2019-07-25 13:39] #26 closed

[2019-09-11 21:05] QuLogic opened #35 "Define all policy effect functions"
[Matchers](https://casbin.org/docs/en/syntax-for-models#matchers) has a nice [table](https://casbin.org/docs/en/function) that describes all (I assume) functions that possible, but [policy effect](https://casbin.org/docs/en/syntax-for-models#policy-effect) does not. It has a bunch of examples, but no explicit explanation of anything used.

* `some` and `where` are used in examples together, but ne

[2019-09-12 00:03] hsluoyz commented on #35
Can you add the table by sending a PR?

[2019-09-12 00:45] QuLogic commented on #35
Unfortunately, I don't know the answers to these questions.

[2019-10-02 14:08] hsluoyz commented on #35
I have added it here: https://casbin.org/docs/en/syntax-for-models

[2019-10-02 14:08] #35 closed

[2019-10-15 09:02] somahargitai opened #41 "Casbin editor does not indicate whitespace errors"
Casbin editor (just like Casbin) won't have a _true_ response, if the policy spacing is done with tabs.

Example request:
  myuserid, /someurl, GET

This policy will have a _false_ response:
  p, user, /someurl, **TAB HERE** GET
  g, myuserid, user

This policy will have a _true_ response:
  p, user, /someurl, **SPACE HERE** GET
  g, myuserid, user

As there is a Syntax Validate button in the edit

[2019-10-15 13:38] hsluoyz commented on #41
@nodece can we do this?

[2019-10-15 13:47] nodece commented on #41
@hsluoyz Yes, I know what to do.

[2019-11-08 12:42] somahargitai opened #44 "RBAC addRoleForUser response"
docs says:

In spite of that, in 'already exists' case the response is the same we get when having a successful adding: the role list of the user

https://casbin.org/docs/en/rbac-api

[2019-11-08 12:48] hsluoyz commented on #44
If you believe a Casbin implementation has a different behavior than the docs, please fire a bug report in that implementation's GitHub repo issues page.

[2019-11-19 04:10] nodece commented on #41
@somahargitai Thank you for your report! It is working.

[2019-11-19 04:10] #41 closed

[2019-11-19 08:38] somahargitai commented on #41
Thanks, guys

[2019-11-23 16:29] hsluoyz commented on #44
Closed as stale.

[2019-11-23 16:29] #44 closed

[2020-02-20 20:15] adrijshikhar commented on #4
@hsluoyz i would like to work on this issue, can you elaborate a bit?

[2020-02-21 06:25] coderbabu10 opened #50 "collapsing of content"
**As try dashboard should have some space between the other components**

**Screenshot:**
![Screenshot from 2020-02-21 11-51-12](https://user-images.githubusercontent.com/54955755/75009454-bb2cd700-54a0-11ea-9814-1ac708724185.png)

**Additional Context:**
If this really is a bug, I would like to take this up.

[2020-02-21 07:11] nodece commented on #50
hi guys, welcome PR!

[2020-03-20 12:12] romitkarmakar commented on #50
Resolved this issue in PR #53

[2020-03-20 14:25] #50 closed

[2020-04-16 09:04] hsluoyz opened #64 "Add "Open Chat" button on website"
See: https://sidecar.gitter.im/

[2020-05-03 10:14] hsluoyz opened #78 "Add docs for new scaling ABAC feature"
For: https://github.com/casbin/casbin/issues/354

Add to this page: https://casbin.org/docs/en/abac

[2020-05-03 10:15] hsluoyz commented on #78
@nodece @GopherJ @DivyPatel9881 can anyone work on this?

[2020-05-03 11:57] DivyPatel9881 commented on #78
I can take this issue if everyone is okay with it?

[2020-05-03 14:36] #78 closed

[2020-05-04 15:18] hsluoyz opened #80 "Add "Open Chat" button on website"
See: https://sidecar.gitter.im/

[2020-05-04 15:18] #80 closed

[2020-05-04 15:25] hsluoyz commented on #4
Based on academia's definition, there are four models in RBAC96: RBAC0, RBAC1, RBAC2, RBAC3.

See details at: https://security.stackexchange.com/questions/169875/rbac0-rbac1-rbac2-rbac3-what-do-they-mean

Some Casbin users are security experts and they want to know what level of RBAC (0, 1, 2, or 3) does Casbin support. So we should clarify it in the docs.

[2020-05-04 15:25] hsluoyz commented on #4
Can anyone work on this? @nodece @GopherJ @DivyPatel9881

[2020-05-04 15:59] hsluoyz opened #81 "Improve the "Open Chat" button on website"
As a continue of previous PR: https://github.com/casbin/casbin-website/issues/80

1. The color of the "Open Chat" button should be changed to our "blue" color.

![image](https://user-images.githubusercontent.com/3787410/80986203-d5047600-8e62-11ea-8690-7f3f6f2c6f5e.png)

2. The close button is overlapped by top bar:

![image](https://user-images.githubusercontent.com/3787410/80986392-172db780-8e63

[2020-05-04 16:00] hsluoyz commented on #81
Can anyone work on this? @nodece @GopherJ @DivyPatel9881

[2020-05-04 16:43] DivyPatel9881 commented on #81
Yeah, I can work on this.

[2020-05-04 16:45] DivyPatel9881 commented on #4
Yes, I will have to research a bit, and then I will be updating the docs

[2020-05-07 09:49] hsluoyz opened #82 "Add docs for the "Explain enforcement" feature"
Issue: https://github.com/casbin/casbin/issues/355
PR: https://github.com/casbin/casbin/pull/425

[2020-05-07 09:51] hsluoyz commented on #82
@nodece @GopherJ @hackerchai @DivyPatel9881 @kingiw can anyone work on it?

[2020-05-10 02:43] #81 closed

[2020-05-14 06:31] chetan-v commented on #3
@hsluoyz I want to do that

[2020-05-15 07:03] samagragupta opened #85 "Back to top button is hiding"
![Capture](https://user-images.githubusercontent.com/32234926/82021235-26550680-96a8-11ea-872a-2adc6f8a3d5f.JPG)
This button gets to hide behind the `OPEN CHAT`

[2020-05-15 07:11] samagragupta opened #86 "Height of image is not consistent"
![Capture](https://user-images.githubusercontent.com/32234926/82021777-17228880-96a9-11ea-81fe-2ce69cd6e1b0.JPG)
In this height of 'Flexible policy storage' image is not consistent with other two images. That's why the text is not at same level.

[2020-05-15 07:15] samagragupta opened #87 "Heading should be at the centre of the screen"
![Capture](https://user-images.githubusercontent.com/32234926/82022205-e1ca6a80-96a9-11ea-9885-bf1cddc4cc6c.JPG)
In mobile view: Heading should be at the centre of the screen

[2020-05-15 08:15] samagragupta commented on #3
@chetan-v Sure go-ahead 🚀

[2020-05-15 10:41] chetan-v commented on #87
@samagragupta I done it,
by change the text-align: center in main.css

[2020-05-15 10:49] samagragupta commented on #87
@chetan-v I could not see your Pull request.

[2020-05-16 08:55] #86 closed

[2020-05-16 08:55] #85 closed

[2020-05-16 10:45] #87 closed

[2020-05-19 09:17] chetan-v opened #92 "Problem in bot(Mobile interface). There is no icon for close the bot"
![Screenshot_20200519-144025 (1)](https://user-images.githubusercontent.com/63091769/82308574-98e32080-99df-11ea-8c6a-e173195e7cbd.png)
![Screenshot_20200519-144037](https://user-images.githubusercontent.com/63091769/82308597-9ed90180-99df-11ea-9dc5-4ef135db348e.png)

[2020-05-19 12:35] hsluoyz commented on #92
@nodece @GopherJ @DivyPatel9881 @kingiw @hackerchai can anyone fix it?

[2020-05-19 16:24] chetan-v commented on #92
@hsluoyz  I do something for this

[2020-05-20 00:48] hsluoyz commented on #92
Fixed by: https://github.com/casbin/casbin-website/pull/93

[2020-05-20 00:48] #92 closed

[2020-05-22 11:19] hsluoyz opened #94 "Add docs for Management and RBAC Batch API."
Currently, we added batch API to some languages already:

Go: https://github.com/casbin/casbin/issues/386
Node.js: https://github.com/casbin/node-casbin/issues/105

But we don't have docs. Can anyone work on a new "Batch API" page? @nodece @GopherJ @DivyPatel9881 @kingiw @hackerchai

[2020-05-22 14:04] hsluoyz opened #95 "Severe formatting bug in Chinese translation of the docs"
https://casbin.org/docs/zh-CN/syntax-for-models#policy-effect定义

![image](https://user-images.githubusercontent.com/3787410/82675765-dcf05280-9c77-11ea-8b60-a5753d2237b1.png)

It should be fixed by someone who knows Chinese. Can anyone fix it? @nodece @GopherJ @hackerchai @kingiw @dovics

The fix should be done by correcting the Chinese translation: https://crowdin.com/translate/casbin/47/en-zhcn

[2020-05-22 17:04] kingiw commented on #95
I can have a look at it these days.

[2020-05-22 17:52] DivyPatel9881 commented on #94
I will work on this.

[2020-05-23 09:22] kingiw commented on #95
It seems there are many similar bugs in the translated docs.
https://casbin.org/docs/zh-CN/adapters
https://casbin.org/docs/zh-CN/get-started

[2020-05-23 09:39] hsluoyz commented on #95
Oh. That's so many!

[2020-05-26 18:55] kingiw commented on #95
@hsluoyz Could you please give me the manager access for Casbin on Crowdin? Only the project managers are able to download and build the translation project locally.

View the following link to see how to modify the roles of members in Crowdin:
https://support.crowdin.com/modifying-project-participants-roles/

[2020-05-27 01:21] hsluoyz commented on #95
@kingiw granted.

[2020-05-27 08:51] kingiw commented on #95
I've fixed all these bugs on Crowdin.

These bugs are triggered due to the following reason:

In the source docs, [remark-admonitions](https://github.com/elviswolcott/remark-admonitions) are used for documentation highlights. The syntax is:
[code]
Crowdin internal translator automatically omit the newline notations and generates the new markdown files as follows:
[code]
However, this can not be in

[2020-05-27 09:12] hsluoyz commented on #95
@kingiw well done! It's more complicated than I think. I thought it was just a translation error.

But for another translation language like French or Japanese, we still encounter this issue, right? I want a way to fix them all. I think we can ask https://github.com/elviswolcott/remark-admonitions to support `:::note Hello world :::`. This is easier than asking Crowdin to fix it. Can you raise an

[2020-05-27 09:13] hsluoyz commented on #95
You can see the Korean translation is also wrong: https://casbin.org/docs/ko/syntax-for-models

![image](https://user-images.githubusercontent.com/3787410/83000750-62d81900-a03d-11ea-9bd0-0cc441dc85db.png)

[2020-05-27 09:17] hsluoyz commented on #95
We can also fire a bug at docusaurus community, to see if they want to help us or not. If they don't help, we have to contact https://github.com/elviswolcott/remark-admonitions or Crowdin by ourselves t fix it then.

[2020-05-27 10:18] kingiw commented on #95
I'll fix the bugs in Korea right away.
As for the report report, I don't think the bug is related to docusaurus. I will raise an feature issue in remark-admonitions and a bug issue in Crowdin.

[2020-05-27 11:14] hsluoyz commented on #95
@kingiw OK. Please don't fix the Korean bug by your own. Use it as a reproducible scenario for Crowdin guys.

[2020-05-28 18:14] kingiw commented on #95
The Crowdin team has fixed the bugs for our projects:

I believe the issues can be close now.

[2020-05-29 01:13] hsluoyz commented on #95
@kingiw I have given you admin for this repo. You can trigger rebuild in Travis CI:

![image](https://user-images.githubusercontent.com/3787410/83210098-8fe71180-a18c-11ea-86d2-5a233be847dd.png)

I have triggered once, but it seems Korean is still not fixed? https://casbin.org/docs/ko/syntax-for-models#%EC%A1%B0%EA%B1%B4%EC%8B%9D

[2020-05-29 05:13] kingiw commented on #95
@hsluoyz This is because the Korean translator translate the syntax notation as well... I've fixed it now.

[2020-06-05 19:35] dre-sctg commented on #78
The documentation is a bit unclear, or I'm missing something, I can't get this example running in the editor.

[code]
[code]
[code]
evaluates to `false` which is confusing. I'd say that is doing a string comparison, but I think an adding an explicit example of a request in the doc will be helpful.

[2020-06-06 01:09] hsluoyz commented on #95
@kingiw is this issue finished? If yes, please close it.

[2020-06-06 01:15] hsluoyz commented on #78
Hi @dre-sctg , the online editor repo is: https://github.com/casbin/casbin-editor It uses Node-Casbin, which already has the "scaling ABAC" feature: https://github.com/casbin/node-casbin/pull/151

But it seems we didn't update casbin-editor's dependency to latest Node-Casbin yet, @nodece @kingiw @zhmushan can anyone help on this?

[2020-06-06 01:18] #94 closed

[2020-06-06 02:13] zhmushan commented on #78
@hsluoyz I just changed the version number in the `package.json`, is this enough?

[2020-06-06 02:15] hsluoyz commented on #78
@zhmushan I don't know. Can you run a local casbin editor and test if @dre-sctg 's model & policy works?

[2020-06-06 02:44] zhmushan commented on #78
I changed a little to support abac.

[2020-06-06 03:11] hsluoyz commented on #78
Is it working now?

[2020-06-06 03:13] zhmushan commented on #78
@hsluoyz yes.

[2020-06-06 03:29] hsluoyz commented on #78
@zhmushan but I tried and it's still false. Can you troubleshoot it?

![image](https://user-images.githubusercontent.com/3787410/83935118-f00f3080-a7e8-11ea-8e6c-876010b04521.png)

[2020-06-06 03:31] zhmushan commented on #78
@hsluoyz I'm sure it works when the model is abac, I will check it later.

[2020-06-06 04:15] #95 closed

[2020-06-06 06:36] zhmushan commented on #78
I think the current behavior is as expected, only when `modelKind === 'abac'`, the result will be evaluated correctly. see: https://github.com/casbin/casbin-editor/blob/master/src/editor/run-test.tsx#L104

[2020-06-06 11:15] dre-sctg commented on #78
Thanks, I can confirm the example works when the model dropdown is set to `abac`. Is there anything I can do to help? Perhaps update the docs with an example and a comment?

[2020-06-06 11:41] dre-sctg commented on #78
I am afraid this update has caused another issue, running the plain ABAC example now shows `Invalid policy, policy document cannot be false-y` as error message. I'll create an issue in the editor repository, and submit a PR if thats ok.

[2020-06-18 17:09] chetan-v opened #103 "Footer content hidden due to Chat bot"
![Screenshot_20200618-223450](https://user-images.githubusercontent.com/63091769/85050852-5d8d6a80-b1b4-11ea-8efa-64a8ec743727.png)

**You want to work on it**
Yes

[2020-06-19 00:25] hsluoyz commented on #103
@nodece

What do you want then?

[2020-06-19 03:21] nodece commented on #103
yes

[2020-06-19 03:51] chetan-v commented on #103
@hsluoyz  can I do something for it.

[2020-06-19 04:55] nodece commented on #103
@chetan-v Could you improve the chat button?

[2020-06-19 06:36] hsluoyz commented on #103
What can you do?

[2020-06-19 06:39] chetan-v commented on #103
@hsluoyz @nodece can I resize the chatbot button for mobile site only

[2020-06-19 06:42] chetan-v commented on #103
Or we can also stand vertical this botton

[2020-06-19 06:43] chetan-v commented on #103
Yes I can

[2020-06-20 02:09] #103 closed

[2020-07-03 05:42] nikhilspy commented on #3
I want to this work but one time can you explain exactly on what topic we have to make documentation.

[2020-07-08 09:12] zzl221000 opened #106 "The Chinese management api page does not load correctly"
https://casbin.org/docs/zh-CN/management-api

![image](https://user-images.githubusercontent.com/14102425/86900553-0f79e000-c13e-11ea-8bdb-29734212814d.png)

[2020-07-08 14:58] hsluoyz commented on #106
Can anyone fix it? @divy9881 @kingiw @dovics

[2020-07-15 06:39] 00LT00 commented on #106
#107

[2020-07-15 06:42] #106 closed

[2020-07-15 06:42] hsluoyz commented on #106
OK. It did a blame and this bug originates from: https://github.com/casbin/casbin-website/commit/17284b51b896d8a1201b7b901aab170d991279e3#r40613246

[2020-07-15 06:44] hsluoyz commented on #106
Fixed in: https://github.com/casbin/casbin-website/issues/106

[2020-07-26 02:12] hsluoyz opened #110 "Improve the docs for RBAC pattern matchning"
The PR: https://github.com/casbin/casbin-website/pull/102 can still be improved.

Some refs:
https://github.com/casbin/casbin/issues/161#issuecomment-663926490
https://github.com/casbin/casbin/pull/475

[2020-07-26 02:13] hsluoyz commented on #110
@dovics

[2020-08-25 03:18] hsluoyz opened #119 "Algolia's Docsearch box is not working for some terms"
Our site (https://casbin.org/) uses algolia's docsearch box: https://www.algolia.com/ref/docsearch/

But it seems to be not working for many search terms, like searching `codeigniter`:

![image](https://user-images.githubusercontent.com/3787410/91118819-72aadc00-e6c4-11ea-8fad-3983fd1fe6aa.png)

But clearly, we have such content:

![image](https://user-images.githubusercontent.com/3787410/91118864

[2020-08-25 03:23] hsluoyz commented on #119
Raised an issue here: https://github.com/algolia/docsearch/issues/974

[2020-08-25 08:31] hsluoyz commented on #119
Fixed by Algolia's team: https://github.com/algolia/docsearch/issues/974

[2020-08-25 08:31] #119 closed

[2020-09-09 06:30] aajinkya1203 opened #126 "Responsive issue"
There seems to be a responsive issue for some devices like:

- [ ] iPhone 5/SE
- [ ] Galaxy S5

Uploading an image for reference!
![image](https://user-images.githubusercontent.com/43881544/92562725-0f0fd980-f294-11ea-90a9-41d7b5074fed.png)

[2020-09-09 06:31] aajinkya1203 commented on #126
This was done using the Chrome Dev Tools, if it helps any

[2020-09-09 07:20] nodece commented on #126
My browser is work.

## ENV
- MacOS 10.15.5
- Chrome 85.0.4183.102（64 bit）

[2020-09-10 01:40] hsluoyz commented on #126
@aajinkya1203 can you fix it? Can you see if this site: https://docusaurus.io/ also has the same problem?

[2020-09-10 16:33] aajinkya1203 commented on #126
Hey, @hsluoyz
I went through the website and it works fine!
I noticed that the error still persists but after I reloaded my site, it seemed to take the full width

My takeaway:
- [ ] The website works fine on phone
- [ ] Could be a litte problem on browsers if someone shrinks their browsers, although no one ever does it

I'll try from other devices too and would let you know. Closing this because

[2020-09-10 16:33] #126 closed

[2020-09-11 18:34] JAgrit20 opened #129 "Not responsive"
the site is not responsive in many modes
see the image the casbin name overlapping with Docs

![image](https://user-images.githubusercontent.com/65972513/92960489-5b713a00-f48b-11ea-8ad0-ecf6f3c26428.png)

[2020-09-12 00:35] hsluoyz commented on #129
@JAgrit20 can you help fix it?

[2020-09-12 04:34] jagrit2019 commented on #129
Yeah sure please assign this to me,
I will be able to fix this

[2020-09-12 04:37] JAgrit20 commented on #129
yeah sure I will be able to fix it, please assign this to me

[2020-09-12 08:50] hsluoyz commented on #129
@JAgrit20 assigned.

[2020-09-15 16:54] #129 closed

[2020-12-03 14:36] refs opened #147 "SpaceX is not using casbin"
Hi! Sorry for being a party pooper, but SpaceX Inc is not really using casbin. The commit linked on your site points to [github.com/r-spacex](https://github.com/r-spacex/SpaceX-API/commit/f8daa8f9878dcd7a281fc8081e3aeb8e5d216089), which is described as:

which is a subreddit. Furthermore upon reading their repo it states that they're not affiliated with SpaceX.

![image](https://user-images.github

[2020-12-03 15:31] hsluoyz commented on #147
Hi, it has been fixed in: https://github.com/casbin/casbin-website/commit/7ac05647b1047785e66c2e8630d8d0c174a84e88 . Thanks for the info!

[2020-12-03 15:31] #147 closed

[2021-01-05 09:44] kaustubhai opened #148 "Dark mode for the website"
### Feature Request
As someone who uses dark mode everywhere possible, it really sets me back to visit a website with no dark mode. Also its really in the trend now so what do you think?

[2021-01-05 15:23] kaustubhai commented on #148
Hey @hsluoyz, can I join you on this mission?

[2021-01-05 15:31] hsluoyz commented on #148
@kaustubhai we use Docusaurus v1 to power our website.

AFAIK, dark mode is a Docusaurus v2 only feature, see: https://v2.docusaurus.io/

But we can't easily migrate to v2 because currently v2 still lacks multi-language support, which is needed by Casbin.

So this is a big problem in front of us.

[2021-01-05 15:33] hsluoyz commented on #148
See: https://github.com/facebook/docusaurus/issues/3317

[2021-01-10 17:02] hsluoyz opened #149 "Add docs about the new keyGet() and keyGet2() built-in matcher functions"
See details at: https://github.com/casbin/casbin/pull/675

[2021-01-10 17:03] hsluoyz commented on #149
@closetool

[2021-01-11 13:56] #149 closed

[2021-01-19 15:59] OmGuptaIND commented on #3
Hey seeing this is still open,
if you can give me some ref and starting point for this
will help a lot

[2021-01-19 16:02] hsluoyz commented on #3
@OmGuptaIND I think the model syntax page is the most difficult part for people to read: https://casbin.org/docs/en/syntax-for-models  you can start by improve its readability, to make it like easy-readable like a Medium article :)

[2021-01-19 16:27] OmGuptaIND commented on #3
@hsluoyz I am new to all this and especially contributing, can you give me good resources to follow so I can understand what exactly is a good doc. And any recommendations on how to structure this one

[2021-01-19 16:32] hsluoyz commented on #3
@OmGuptaIND see some articles from 3rd-party: https://casbin.org/docs/en/tutorials#perm-meta-model-policy-effect-request-matchers

I think their writing is better than me :)

1. They have easy-to-follow language.
2. They have pictures, images to show how it works or its architecture.
3. They have tables.

[2021-02-16 10:12] #148 closed

[2021-02-16 10:18] hsluoyz opened #155 "Move this repo's CI to GitHub Actions"
Our Travis-CI ran out of quota, no builds will be run any more for now: https://travis-ci.com/github/casbin/casbin-website

![image](https://user-images.githubusercontent.com/3787410/108049475-46748480-7083-11eb-8c85-1ede8e0e1977.png)

`
Builds have been temporarily disabled for public repositories due to a negative credit balance. Please go to the Plan page to replenish your credit balance or alt

[2021-02-16 10:18] hsluoyz commented on #155
@closetool

[2021-02-17 15:21] specter25 commented on #155
@hsluoyz can I work on this issue ?

[2021-02-18 12:28] hsluoyz commented on #155
Fixed by: https://github.com/casbin/casbin-website/commit/f368c511ba6aff8ab515ac2862ef1b0bb6eae224

[2021-02-18 12:28] #155 closed

[2021-02-27 08:48] hsluoyz opened #165 "Translate the Performance page"
Online docs: https://casbin.org/docs/zh-CN/performance

CrowdIn: https://crowdin.com/translate/casbin/108/en-zhcn?filter=basic&value=0

[2021-03-06 03:39] hsluoyz commented on #165
Done.

[2021-03-06 03:39] #165 closed

[2021-03-06 07:07] hsluoyz commented on #4
@Kininaru

[2021-03-06 09:17] Kininaru commented on #4
@hsluoyz

Got that, working on this.

[2021-03-07 11:29] #4 closed

[2021-03-08 02:59] Kininaru commented on #2
Working on this.

[2021-03-08 09:02] Zxilly opened #174 "Error document"
https://casbin.org/docs/en/frontend
However, casbin.js is totally async, document need fix.

[2021-03-08 09:15] Kininaru commented on #174
working on this

[2021-03-09 05:42] #174 closed

[2021-03-09 08:57] Kininaru commented on #82
We already have documentation on this: [API tutorial](https://casbin.org/docs/en/api-tutorial) and [Management API](https://casbin.org/docs/en/management-api). Are these docs clear enough? Or should I add instructions of this feature in a special page?

[2021-03-09 09:00] Kininaru commented on #82
Got it. Working on this.

[2021-03-10 06:03] Oyyko commented on #3
I am willing to help in the document simplifaction and Chinese translation. Then, I found the translation is on Crowdin. And I made a little change on the Chinese translation on Crowdin. However, I didn't see my change on the real website. So I am wondering how the Chinese translation is published. Thanks.

[2021-03-10 08:52] hsluoyz opened #177 "Fix the duplicated docs bug in Crowdin translation"
I found a bug in our Crowdin translation, for a language like Chinese: https://crowdin.com/project/casbin/zh-CN#

We have two exactly the same docs for each page. The first copy is in the master folder, the other copy is in / (root) folder. I don't know why. Can any one fix this bug? It's the same for other translation languages like French, Korean.

![image](https://user-images.githubusercontent.

[2021-03-11 05:56] #82 closed

[2021-03-11 16:52] bokket commented on #177
When I used Google Developer Tools to debug, I found that the node of the folder under the master branch and the folder under /(root) are different.It may be a static resource loading error.Maybe deleting the id="node_110" corresponding to /(root) can solve the problem.However,I am not a professional front-end developer, maybe this requires deeper debugging to modify.
![image](https://user-images.

[2021-03-12 02:58] hsluoyz commented on #177
@closetool

[2021-03-12 03:12] closetool commented on #177
@hsluoyz emmm, that's my fault, when I fix ci, I set wrong path, so docs pushed to root, I thought we could just delete it.

[2021-03-12 03:18] hsluoyz commented on #177
@closetool .. this is embarassing. Some of the docs are translated twice, lol.

Do we need to fix the CI? Even if we manually delete the folder in Crowdin, it will re-generate for next push, right?

[2021-03-12 03:21] closetool commented on #177
@hsluoyz sorry about that, I have fixed it, now it only push docs to `/master `, so it will not re-generate

[2021-03-12 03:24] closetool commented on #177
@hsluoyz ok

[2021-03-12 03:30] #177 closed

[2021-03-12 04:15] hsluoyz opened #180 "Add role manager API to docs"
See: https://github.com/casbin/casbin/issues/681#issuecomment-797199862

[2021-03-12 13:09] #180 closed

[2021-03-13 10:39] hsluoyz opened #183 "Change to table"
https://casbin.org/docs/en/rbac-96#casbin-rbac-and-rbac96

![image](https://user-images.githubusercontent.com/3787410/111027444-589bd580-842b-11eb-82f8-090e7df538f6.png)

[2021-03-13 10:41] hsluoyz opened #184 "Explain how g(r.sub, p.sub, r.dom) works"
https://casbin.org/docs/en/how-it-works#comment-5276609594

Add some new docs to: https://casbin.org/docs/en/rbac

[2021-03-13 10:47] Vishv07 commented on #183
can I work upon this enhancement issue?

[2021-03-16 01:17] hsluoyz commented on #184
Fixed by: https://github.com/casbin/casbin-website/pull/186

[2021-03-16 01:17] #184 closed

[2021-03-16 01:17] hsluoyz commented on #183
Fixed by: https://github.com/casbin/casbin-website/pull/186

[2021-03-16 01:17] #183 closed

[2021-03-16 01:29] hsluoyz opened #187 "Add "Data permissions" subsection to "Model""
See: https://casbin.org/docs/en/overview#comment-5283453205

We have two solutions for data permissions (filtering):

1. https://casbin.org/docs/en/rbac#how-to-query-implicit-roles-or-permissions
2. https://casbin.org/docs/en/management-api#batchenforce

[2021-03-16 02:13] hsluoyz opened #188 "Add a page for super admin usage"
https://casbin.org/docs/en/rbac-with-domains#comment-5280258735

[2021-03-17 15:38] Oyyko commented on #187
Hi. I was wondering how to add a subsection. It seems that every markdown file in the /doc starts with
[code]
and don't include the section information.

[2021-03-17 16:39] hsluoyz commented on #187
@Oyyko subsection is a page.

[2021-03-18 02:48] Oyyko commented on #187
@hsluoyz  I am sorry that I did't express myself clearly. You know, there are many .md files in `/doc` and, let's say, if I add DataPermissions.md in `/doc` as a subsection, then how can the website know which section it belongs to? For example, on the website [casbin](https://casbin.org/docs/en/overview) the overview page belongs to section "The Basic". So how can I assign the new page DataPermis

[2021-03-18 03:11] hsluoyz commented on #187
@Oyyko see: https://github.com/casbin/casbin-website/blob/master/website/sidebars.json

[2021-03-23 08:20] hsluoyz opened #191 "Describe the "in" operator in matcher grammar"
See: https://casbin.org/docs/en/syntax-for-models#expression-evaluator

I know Golang's matcher expression evaluator supports "in", but not for other langs. We should have a table for the extra features.

[2021-03-24 12:23] #187 closed

[2021-03-25 02:11] hsluoyz opened #193 "The page link of our Disqus (our comment plugin) admin portal is wrong"
I don't know why the URL contains two slashes "//" here. It makes the link unable to render the comment area.

![image](https://user-images.githubusercontent.com/3787410/112408225-6702bf00-8d52-11eb-92df-99a88a3878d1.png)

[2021-03-25 02:13] hsluoyz commented on #193
@Oyyko

[2021-03-25 05:35] Oyyko commented on #193
Hi. I was wondering if I have to have the admin username and password in disqus to see this bug. Because when I log in use my own disqus account, the website [casbin.disqus.com](url) cannot be visited.

[2021-03-25 06:37] Oyyko commented on #193
It seems that [Here](https://github.com/crystal-lang/crystal-website/issues/62) is the same question. However I still cannot find a good way to solve it. I was wondering if I can update the real casbin website so that I can test my ideas. Now, my solutions was to change the website url in /website/siteConfig.js and see what will happen. Maybe it can fix the issue but we will lose all past comment,

[2021-03-25 06:46] hsluoyz opened #194 "Migrate from Docusaurus v1 to v2"
Now Docusaurus v2's i18n is almost ready (https://github.com/facebook/docusaurus/releases/tag/v2.0.0-alpha.72). We can start the work to move our official site to Docusaurus v2 now!

See some example sites:

- https://docusaurus.io/
- https://apisix.apache.org/

We should also check if our existing translation for v1 site can be re-used in v2 site: https://github.com/facebook/docusaurus/issues/352

[2021-03-25 07:30] hsluoyz commented on #193
@Oyyko we can send an issue about it to the Disqus official team: https://github.com/disqus/disqus-react/issues

[2021-03-28 09:20] hsluoyz commented on #194
@Oyyko

[2021-04-01 14:51] Oyyko commented on #194
@hsluoyz Working on it.

[2021-04-01 15:17] Oyyko commented on #194
Is this upgrade urgent? Since the official migration doc for "Migrate from v1 to v2" [Here](https://docusaurus.io/docs/migration) not prepared for translated website. So I was wondering if we can do the upgrade after the offical doc is ready?

[2021-04-04 01:33] Jack-Barry opened #195 "Should Prisma adapter be listed in docs?"
I don't see [prisma-adapter](https://github.com/node-casbin/prisma-adapter) listed on the [adapters page of the Casbin site](https://casbin.org/docs/en/adapters), should it be?

[2021-04-04 01:59] hsluoyz commented on #195
@Jack-Barry added: https://github.com/casbin/casbin-website/commit/b14901679f163032c76d16cbfce46f2921b17964 thanks for reminding it!

[2021-04-04 01:59] #195 closed

[2021-04-07 04:55] Cronus1007 commented on #194
@Oyyko If this transition is much urgent then we can join this [discord channel](https://discord.com/invite/kYaNd6V) if we have few queries.What's your opinion about it.Also I would love to be a part of it.

[2021-04-07 05:01] hsluoyz opened #196 "Migrate from Docusaurus v1 to v2"
Now Docusaurus v2's i18n is almost ready (https://github.com/facebook/docusaurus/releases/tag/v2.0.0-alpha.72). We can start the work to move our official site to Docusaurus v2 now!

See some example sites:

- https://docusaurus.io/
- https://apisix.apache.org/

We should also check if our existing translation for v1 site can be re-used in v2 site: https://github.com/facebook/docusaurus/issues/352

[2021-04-07 05:02] hsluoyz commented on #194
@Cronus1007 replaced by: https://github.com/casbin/casbin-website/issues/196

[2021-04-07 05:02] #194 closed

[2021-04-07 05:09] Cronus1007 opened #197 "Languages are contrained to very few languages"
## Problem Description
The langugaes.js has been contrained to very few languages i.e. Eng,Russian etc. This can be extended into several other languages.

## Solution
Extending languages.js to include several other languages like Portuguese etc.

@hsluoyz Any opinion about this?

[2021-04-07 05:12] hsluoyz commented on #197
@Cronus1007 we don't add a lot of languages to the drop-down menu because there's no translators for it. I don't want to have 100 languages listed there but only English and Chinese have useful stuff in it, other 98 languages are empty shells.

Are you willing to translate a language? If yes, I can open up that language for you.

[2021-04-07 06:31] Cronus1007 commented on #197
@hsluoyz Sure.I would love to do it.

[2021-04-07 06:32] Cronus1007 commented on #197
@hsluoyz Sure.

[2021-04-07 07:35] #197 closed

[2021-04-07 07:39] hsluoyz opened #198 "Add GetDomainsForUser() API to docs"
See: https://github.com/casbin/casbin/pull/746#issuecomment-814679390

[2021-04-07 07:50] Cronus1007 commented on #198
@hsluoyz Shall I implement this one.

[2021-04-09 05:23] hsluoyz commented on #196
@WashingShen

[2021-04-09 16:22] slorber commented on #194
Hi,

For what it's worth, the i18n doc is ready in the upcoming version: https://docusaurus.io/docs/next/migration/translated-sites

This is a best-effort, Crowdin is not so easy to handle, and I'm willing to help if you have questions.

[2021-04-09 16:25] slorber commented on #196
i18n migration documentation is here: https://docusaurus.io/docs/next/migration/translated-sites

Let me know if I can help on this part. If you choose the "keep the existing Cowdin project" strategy, let me know and give feedbacks so I can document this better.

[2021-04-09 17:26] hsluoyz commented on #194
@slorber thanks! We will read it.

[2021-04-16 04:56] hsluoyz opened #202 "Add the new Effector API to official docs"
See: https://github.com/casbin/casbin/issues/752#issuecomment-820880206

[2021-04-16 04:56] hsluoyz commented on #202
@ErikQQY

[2021-04-16 13:59] hsluoyz commented on #188
Fixed by: https://github.com/casbin/casbin-website/pull/203

[2021-04-16 13:59] #188 closed

[2021-04-21 16:13] #202 closed

[2021-04-21 16:14] hsluoyz commented on #198
@ErikQQY

[2021-04-21 16:22] hsluoyz commented on #198
Fixed by: https://github.com/casbin/casbin-website/pull/199

[2021-04-21 16:22] #198 closed

[2021-04-23 15:12] #191 closed

[2021-04-23 15:16] hsluoyz commented on #196
@slorber thanks for the advice!

[2021-04-29 04:20] #110 closed

[2021-04-29 04:23] hsluoyz commented on #196
@ErikQQY plz see the comment: https://github.com/casbin/casbin-website/issues/196#issuecomment-816800473

Maybe the "create a new project and pre-translate" way is easier for us?

[2021-04-29 04:32] ErikQQY commented on #196
While there are many manual config files and packages changed and deprecated, I think we can create a new v2 project.

[2021-04-30 07:22] hsluoyz commented on #196
@ErikQQY new Crowdin project is: https://crowdin.com/project/casbin-v2

[2021-04-30 07:24] ErikQQY commented on #196
I am working on it.

[2021-05-19 11:04] mridul303 opened #219 "[Bug] Incorrect mongodb driver link for Go in adapter documentation"
**Describe the bug**
It's a documentation issue. In the supported [adapters](https://casbin.org/docs/en/adapters) table, under Go's description section for mongoDB:

The driver link points to the old and [unofficial mongo driver](https://github.com/globalsign/mgo) whereas the adapter uses the latest and [official mongo driver](go.mongodb.org/mongo-driver)

**To Reproduce**
Steps to reproduce the b

[2021-05-19 13:24] hsluoyz commented on #219
Fixed in: https://github.com/casbin/casbin-website/commit/17f980954b7828ab6b198ef9cd4bb148a36a40a2

[2021-05-19 13:24] #219 closed

[2021-05-20 12:26] Zxilly opened #221 "[Bug] RBAC with domain may have potential unxexpected behavior"
https://github.com/casbin/casbin/blob/d8b8c3d1ad7fc2a9bf03d31955850acb1272f3e1/rbac/default-role-manager/role_manager.go#L489-L495

If we have a domain like `name::domain`, it may lead to unexpected behavior.

@closetool plz confirm this

[2021-05-22 15:45] #221 closed

[2021-05-30 16:53] Zxilly commented on #221
@hsluoyz I believed this is still a potential security problem.
For example, if we have a application use casbin and allow user to define their own domain. It should be `user::customdomain` in `g`  list.
However, the attacker can create a custom domain `admin::anotherdomain`, which result to `admin::anotherdomain::user` in `g` list. The attacker will get permission from `admin::anotherdomain`.
We

[2021-05-31 08:19] hsluoyz commented on #221
@Zxilly If the user can define domain fields, then isn't he powerful enough to do anything else than just messing with the domain?

[2021-05-31 09:29] Zxilly commented on #221
@hsluoyz like this issue https://github.com/casbin/casbin/issues/493, specially constructed organazation name can lead to  permission leakage.

[2021-06-05 02:27] Sagilio commented on #221
@hsluoyz I think it is a potential problem too and we can avoid it with some changes.
Casbin.NET version does not have this problem. Because I use `Map<domainName, Map<roleName, role>>` structure like before and cached all roles and all domains list for pattern feature, it need not `domainAndName`.

[2021-06-06 07:57] oneknucklehead opened #227 "[Bug] Changing the look of Brand name"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Describe the bug**
The cabin brand name beside the logo changes its color to blue and gets underlined on hover which looks weird and makes the makes look unattractive.

**To Reproduce**
Changing th

[2021-06-06 10:02] hsluoyz commented on #227
@oneknucklehead good found! Can you make a PR to fix it?

[2021-06-06 10:59] oneknucklehead commented on #227
I have just made a PR relating to this. Can you please check? #228

[2021-06-06 12:15] bionicles opened #229 "Please add a GBAC example"
Would it be possible to implement Graph-based access control with Casbin?

EX: Pattern-matching on the relationship / traversal from subject to object and /or vice versa?

This could enable a simplified ruleset since we could abstract a lot of rules into a smaller number of traversal patterns...

[2021-06-06 12:15] #229 closed

[2021-06-06 12:16] hsluoyz commented on #229
@ErikQQY please improve our docs to make people understand Casbin easier.

[2021-06-06 12:40] #227 closed

[2021-06-07 16:47] hsluoyz opened #230 "Add small logo icons at the left of each button"
See:

![image](https://user-images.githubusercontent.com/3787410/121058583-10eed500-c7f3-11eb-8739-8238cff84005.png)

Add each language's logo before text.

[2021-06-09 05:17] hsluoyz opened #231 "Add "Matcher special grammar" section to docs"
Take the "in" operator in matcher grammar for example, it has different levels of supports for different languages: https://github.com/casbin/casbin-website/pull/206/files but adding a line to that table is not enough.

We should have a docs page especially for it.

[2021-06-09 06:17] closetool commented on #231
@hsluoyz Is it ok to add doc at https://casbin.org/docs/en/syntax-for-models#matchers?

[2021-06-09 06:34] hsluoyz commented on #231
@closetool it sounds OK to me.

[2021-06-09 08:10] oneknucklehead opened #233 "footer links hover"
The links in the footer section are hovered upon even when the cursor is not directly upon the link.
https://user-images.githubusercontent.com/75200954/121310673-3da10a80-c921-11eb-87ab-6f40d53d8b5c.mp4

[2021-06-09 08:12] oneknucklehead opened #234 "Change github link to github logo in nav bar"
the link which redirects the user to the github repo in the nav bar is an anchor tag which makes it look unattractive.
This link can be changed to a hoverable github logo which does the same action.

[2021-06-09 08:18] themonikanayak commented on #234
Hello. I came cross your issue and I was wondering if I can do this? Thank you.

[2021-06-09 08:29] hsluoyz commented on #233
@oneknucklehead I think this is how Docusaurus v1 is designed: https://v1.docusaurus.io/

Actually we are migrating to v2, in which this issue has gone: https://docusaurus.io/

[2021-06-09 08:29] #233 closed

[2021-06-09 09:13] #231 closed

[2021-06-09 11:39] hsluoyz opened #235 "Explain filtered APIs with a paragraph at the begining of: https://casbin.org/docs/en/management-api"
Like the function args, how it works, examples, etc.

This originates from Gitter:

![image](https://user-images.githubusercontent.com/3787410/121348087-7e694580-c95a-11eb-968d-bd1289eefccb.png)

[2021-06-09 11:40] hsluoyz commented on #235
@closetool

[2021-06-10 10:45] #235 closed

[2021-06-18 02:20] hsluoyz commented on #234
@oneknucklehead we use Docusaurus to offer the docs. I don't know if there's a Docusaurus way to fix this?

[2021-06-18 02:25] hsluoyz opened #237 "Change Cloudflare hosted scripts to other CDN to improve the accessibility in China mainland"
Currently, https://casbin.org/ is too slow to access in China. This is because we have one or two scripts hosted in Cloudflare and Cloudflare is very slow these days. So we need to switch these scripts to other China-friendly global CDNs, like GitHub pages.

![image](https://user-images.githubusercontent.com/3787410/122497057-5b582900-d01f-11eb-92f6-8850c3b897ce.png)

[2021-06-18 03:06] ErikQQY commented on #234
There are hoverable GitHub logo in [Docusaurus v2 official website](https://docusaurus.io/)

![v2](https://user-images.githubusercontent.com/52615090/122500186-e5ef5700-d024-11eb-9a93-a7506ceaeeba.png)

[2021-06-18 06:06] hsluoyz commented on #234
@ErikQQY great! Then upgrading to v2 will fix this issue. This is WIP: https://github.com/casbin/casbin-website/pull/210

Closed for now.

[2021-06-18 06:06] #234 closed

[2021-06-18 14:30] #230 closed

[2021-06-20 02:21] hsluoyz opened #239 "The language buttons are very large at first when loading the homepage"
See:

![image](https://user-images.githubusercontent.com/3787410/122660127-457a6d80-d1b1-11eb-9a86-7303295e21b7.png)

[2021-06-20 02:22] hsluoyz commented on #239
@turbodog03

[2021-06-20 09:04] #239 closed

[2021-06-24 03:13] ErikQQY opened #242 "The Chinese translation of Middle Wares doesn’t show properly."
https://casbin.org/docs/zh-CN/middlewares
The Golang tab does’t show properly, while the other translations are working well.

[2021-06-24 06:29] hsluoyz commented on #242
@ErikQQY usually it's a Crowdin translation issue. Plz fix it.

[2021-07-03 04:19] ErikQQY commented on #242
The Golang Chinese translation for middlewares is working now:

https://casbin.org/docs/zh-CN/middlewares

[2021-07-03 05:25] hsluoyz commented on #242
Great, thanks!

[2021-07-03 05:25] #242 closed

[2021-07-07 10:14] hsluoyz opened #247 "Fix translation for this page"
https://casbin.org/docs/zh-CN/policy-subset-loading

[2021-07-09 07:18] hsluoyz opened #250 "Fix the Crowdin CI error"
I saw the error again: https://github.com/casbin/casbin-website/actions/runs/1014321858

@ErikQQY I think the Crowdin has released a fix: https://github.com/crowdin/crowdin-cli/issues/379#issuecomment-876956302

Can you apply the fix at our side?

[2021-07-09 07:22] hsluoyz commented on #247
@ErikQQY

[2021-07-09 07:25] ErikQQY commented on #247
The translation in Crowdin is modified, after the crowdin-cli be fixed, all should be fixed

[2021-07-09 07:45] #247 closed

[2021-07-09 07:45] #250 closed

[2021-07-09 13:02] #237 closed

[2021-07-09 14:54] hsluoyz commented on #193
The issue is here: https://github.com/disqus/disqus-react/issues/93

@ErikQQY plz follow up.

[2021-07-09 15:34] ErikQQY commented on #193
Following these threads

[2021-07-13 15:32] hsluoyz opened #252 "Add the new "subjectPriority(p.eft) || deny" feature to the docs"
See: https://github.com/casbin/casbin/pull/833#issuecomment-879189121

[2021-07-14 19:25] rrasulzade commented on #221
@hsluoyz, here documentation says we can use `::` as a separator to distinguish role from user. I'm using the same separator for domains as well. Given the concern above, do I need to update my whole database to replace the separator with a different one? Thanks
https://github.com/casbin/casbin-website/blob/master/docs/RBAC.md#how-to-distinguish-role-from-user

[2021-07-15 01:19] Zxilly commented on #221
@rrasulzade Which language of casbin do you use?

[2021-07-15 02:25] rrasulzade commented on #221
Go

[2021-07-15 02:29] Zxilly commented on #221
@closetool plz notice this

[2021-07-16 03:32] #252 closed

[2021-07-16 15:18] hsluoyz opened #255 "Add the C++ result to our benchmark page (between Go and Lua tabs)"
See: https://github.com/casbin/casbin-cpp/pull/118#issuecomment-879064593

[2021-07-16 15:18] hsluoyz commented on #255
@EmperorYP7

[2021-07-16 15:19] EmperorYP7 commented on #255
On it

[2021-07-17 00:36] #255 closed

[2021-07-17 18:27] sagilio commented on #255
@EmperorYP7
This looks like the test result of `CachedEnforcer`. But I think what users need is results that are not cached, can you add the result without cache here?
Why not use the result of Github Actions?
![image](https://user-images.githubusercontent.com/42855245/126046336-a1a2ee48-0541-4151-8dae-b3873c59ae4a.png)

[2021-07-17 19:25] EmperorYP7 commented on #255
@sagilio Thanks for pointing it out! Apparently, PR casbin/casbin-cpp#120 is on standby which adds the relevant benchmarks to the project. Once we merge this into master I’ll update it accordingly.

[2021-07-17 19:40] EmperorYP7 commented on #255
I did this on purpose because GitHub Actions benchmarking results were inconsistent by up to 10-15% of variation across several runs. I think this is why GH Actions benchmark results for [casbin/casbin](https://github.com/casbin/casbin) and [casbin/lua-casbin](https://github.com/casbin/lua-casbin) wasn't used as well. However, the results on my hardware were very consistent.

[2021-07-18 01:36] hsluoyz commented on #255
@EmperorYP7 merged: https://github.com/casbin/casbin-cpp/pull/120

[2021-07-18 09:51] sagilio commented on #255
You are right, there are indeed deviations in the environment of Github Actions, but I think it might be closer to the server environment than Apple M1.
@hsluoyz This is just a suggestion, can we find a server that has popular computing power, let multiple languages versions run on it separately and output have comparative value and actual reference value results?

[2021-07-18 12:10] EmperorYP7 commented on #255
@sagilio Agreed. We should benchmark on a similar/same testbed which is the most popular for the use case across all versions of casbin.

[2021-07-18 12:13] EmperorYP7 commented on #255
@hsluoyz I think we should wait for a while until I find out what's wrong with the benchmark results of casbin-cpp.

Reference: [casbin/casbin-cpp#120(comment)](https://github.com/casbin/casbin-cpp/pull/120#issuecomment-882032499)

[2021-07-26 03:42] ErikQQY commented on #193
@hsluoyz This issue is now solved, I think there are no wrong comment links in our Disqus admin portal.

[2021-07-26 03:43] hsluoyz commented on #193
@ErikQQY I saw it: https://github.com/disqus/disqus-react/issues/93#issuecomment-886348416 thanks!

[2021-07-26 03:43] #193 closed

[2021-08-23 06:08] Frederic-Zhou opened #270 "[Bug] example code in docs is wrong"
In: https://casbin.org/docs/en/model-storage#load-model-from-string

[code]

This is wrong:

`a := model.NewModelFromString("examples/rbac_policy.csv")`

and:

`e := casbin.NewEnforcer(m, a)`

[2021-08-27 15:06] #270 closed, assigned to hsluoyz

[2021-09-17 10:03] hzliangbin opened #281 "typo in Chinese doc"
a typo in [Chinese Documentation](https://casbin.org/docs/zh-CN/function)

https://github.com/casbin/casbin/blob/master/util/buildtin_operators_test.go

should be

https://github.com/casbin/casbin/blob/master/util/builtin_operators_test.go

[2021-09-18 01:16] ErikQQY commented on #281
@hzliangbin Thanks a lot! There are some problems with our Chinese docs, but we will fix it as soon as possible.

[2021-09-18 03:07] hsluoyz commented on #281
@ErikQQY plz make a PR to fix it

[2021-10-03 17:37] khushbooag4 commented on #3
Can I work on this issue

[2021-10-03 23:47] ErikQQY commented on #3
@khushbooag4 Of course, welcome to Casbin community😄

If you want to contribute to Casbin, you need to know these things first:
https://casbin.org/docs/en/contributing

And if you want to contributing to Casbin docs, for example you found some grammar mistakes or typo or you want to add more docs relating to Casbin, you can file a pull request, reviewers will review you pull request as soon as pos

[2021-10-07 10:53] TahirJalilov opened #287 "Translation casbin docs to other languages"
Hello, why translation of the casbin documentation to other languages is closed?

[2021-10-10 15:46] #281 closed

[2021-11-16 05:15] Crushla opened #291 "Chinese document[Bug]"
There was an error in the Chinese document Check Permissions

![选区_007](https://user-images.githubusercontent.com/42992376/141925083-684a5a3d-2dfb-4ce0-9646-f44d200ce87d.png)

[2021-11-16 11:29] hsluoyz commented on #291
@huangyilong2000 plz fix this issue at: https://crowdin.com/project/casbin

[2021-11-16 13:00] huangyilong2000 commented on #291
issue fixed

[2021-11-16 13:52] hsluoyz commented on #291
It will be updated for next PR merge.

[2021-11-16 13:52] #291 closed

[2021-11-24 08:47] cdz620 opened #292 "[frontend] casbinjs.Authorizer is not a constructor"
I use casbin.js in my frontend project.

I follow the docs: https://casbin.org/docs/en/frontend#advanced-usage. It occur error when I initialize casbinjs.Authorizer.
code:
[code]
error:
[code]

[2021-11-24 08:50] hsluoyz commented on #292
@Zxilly @nodece @Abingcbc @seriouszyx can anyone improve this part of the docs?

[2021-11-24 10:06] Zxilly commented on #292
@hsluoyz It seems that document need to be totoally rewritten.

[2021-11-24 14:21] hsluoyz commented on #292
@Zxilly can you do this?

[2021-11-24 14:41] Zxilly commented on #292
@hsluoyz As originally designed, casbin.js should be able to share documentation with node-casbin, but the migration of node-casbin is not yet complete.
I will complete the migration before writing the documentation.

[2021-12-13 10:51] hsluoyz opened #294 "Add Node.js examples for Mgmt API and RBAC API"
1. Mgmt API: https://casbin.org/docs/en/management-api
2. RBAC API: https://casbin.org/docs/en/rbac-api

![image](https://user-images.githubusercontent.com/3787410/145799534-c03c19fe-8f66-4f8a-b4b1-3e93f9948ba7.png)

[2021-12-13 11:04] hsluoyz commented on #292
@cdz620 add to docs: https://github.com/casbin/casbin-website/commit/b9baded48bcb32e98aa2a3c0158bb9bddd39b571

[2021-12-13 11:04] #292 closed

[2021-12-13 11:05] hsluoyz commented on #294
@fabian4 @foxzero-007 can anyone work on this?

[2022-01-09 16:03] Shivansh-yadav13 commented on #294
@hsluoyz, can I contribute?

[2022-01-10 14:33] Shivansh-yadav13 commented on #294
@hsluoyz ,There are a few more like **AddRolesForUser**, **Enforce**, **UpdatePolicy**, **LoadFilteredPolicy** missing for node example.

[2022-01-11 15:10] hsluoyz commented on #294
@Shivansh-yadav13 then add them too

[2022-01-12 06:05] #294 closed

[2022-01-16 10:07] Shivansh-yadav13 opened #300 "Add BatchEnforce() example for Node.js"
- [website: https://casbin.org/docs/en/management-api](https://casbin.org/docs/en/management-api#batchenforce)
![Capture](https://user-images.githubusercontent.com/87603425/149655508-6442b359-45fb-4bb0-ae02-7017e97bdbc1.PNG)

[2022-01-18 08:16] diezcode commented on #95
This bug still exists in crowdin. How have you solved it?
from german to english it's still there....

[2022-01-19 01:00] #300 closed

[2022-01-28 04:35] Shivansh-yadav13 opened #304 "Add Node.js example for GetImplicitUsersForRole"
- https://casbin.org/docs/en/rbac-api#getimplicitusersforrole

[2022-01-29 12:46] #304 closed

[2022-01-30 08:58] Shivansh-yadav13 opened #306 "Updating Docs"
- [x] Missing go example for [AddRolesForUser()](https://casbin.org/docs/en/rbac-api#addrolesforuser)
- [x] Add `AddFunctionMethod()` example for Node.js
- [x] `in` of matcher is present in Node.js (https://casbin.org/docs/en/overview#docsNav)

[2022-02-25 13:53] hsluoyz opened #310 "Explain SyncedEnforcer and CachedEnforcer in new "Enforcers" page"
![image](https://user-images.githubusercontent.com/3787410/155724834-e217752c-65ff-439b-b23b-867ea834da94.png)

![image](https://user-images.githubusercontent.com/3787410/155726929-da02254d-7618-43a7-ae0a-c4eec6b115bc.png)

[2022-02-28 10:23] #310 closed

[2022-04-05 06:50] harshlancer commented on #306
Hey can I help in this issue?

[2022-04-05 07:44] Shivansh-yadav13 commented on #306
@harshlancer hello, I guess you are free to make a PR 😊

[2022-04-16 12:03] pratik2315 commented on #3
Hey everyone! I see that the last activity on this issue is almost 6 months ago. If you don't mind can I work on this issue? I believe my English is fluent and I have written many blogs in this language. Thanks for reading

[2022-04-16 12:12] pratik2315 commented on #2
Hey there ! I see that the above issue requires us to have some development-level experience in casbin to create demos and simplify the model syntax.

[2022-04-16 12:14] pratik2315 commented on #2
I am a technical writer but I also have a development background in CS. I can work on this issue and write demo's for some scenarios provided some guidance. What'd you think about it @hsluoyz 😄

[2022-04-17 02:28] hsluoyz commented on #3
@pratik2315 OK

[2022-04-17 02:30] hsluoyz commented on #2
@pratik2315 yes, it requires some development knowledge. You can also get some scenarios from Internet articles and blogs.

[2022-04-27 05:54] hsluoyz opened #323 "CI error: fatal: unsafe repository ('/github/workspace' is owned by someone else)"
See: https://github.com/casbin/casbin-website/runs/6170583331?check_suite_focus=true

![image](https://user-images.githubusercontent.com/3787410/165450598-7e456e2a-9180-4cd3-8f0a-a4512a03ad54.png)

[2022-04-27 05:55] hsluoyz commented on #323
@tangyang9464 can you help take a look?

[2022-04-27 08:10] hsluoyz commented on #323
@tangyang9464 still failed: https://github.com/casbin/casbin-website/runs/6189758244?check_suite_focus=true

[2022-04-27 08:16] tangyang9464 commented on #323
My hands are tied.

[2022-04-27 09:01] #323 closed

[2022-04-27 09:15] tangyang9464 commented on #323
solved: #325

[2022-05-03 14:48] hsluoyz opened #331 "Most of the words in the index page cannot be translated"
See a non-English language like: https://casbin.org/zh-CN/

Most of the parts are still English. They should be translatable by Crowdin.

![image](https://user-images.githubusercontent.com/3787410/166476771-c933c364-d028-43a6-bcc4-0edd2849eb8d.png)

[2022-05-06 07:55] nelsonkimani63 commented on #3
Hello. I would love to improve this document by editing and simplifying its language to make it easily readable. Thanks. Nelson!

[2022-06-08 15:45] Selflocking commented on #331
I have opened a PR to fix it, but it's not perfect.
1. I add `<translate>` to make page can be translated, but some pages failed.
   - [Index Page](https://casbin.org/zh-CN/) tagline, it's in `siteConfig.js`,    `An authorization library that supports ...`
   - [Help Page](https://casbin.org/zh-CN/help), they contain links, there seems to be no good solution.
2. Does the bottom of the page need to

[2022-06-09 05:04] hsluoyz commented on #331
@Selflocking good work!

We need to find a way to translate `siteConfig.js` elements

I think the <translation> tag can contain links? We usually have a lot of links in docs: https://casbin.org/docs/en/overview

Yes

[2022-06-10 14:16] Selflocking commented on #331
I didn't find a way to make Footer can be translated. Seem like upgrading to Docusaurus v2 can fix it.

[2022-06-10 14:23] #331 closed

[2022-06-10 17:27] hsluoyz commented on #196
Initially done at: https://github.com/casbin/casbin-website-v2/issues/1#issuecomment-1152582337

The new repo is: https://github.com/casbin/casbin-website-v2

[2022-06-10 17:27] #196 closed

[2022-06-21 17:22] hsluoyz commented on #306
@Shivansh-yadav13 are these done already?

[2022-06-22 01:46] Shivansh-yadav13 commented on #306
yes 👍

[2022-06-22 01:46] #306 closed

[2022-06-24 08:56] JalinWang opened #352 "Pasting can't trigger the searching function"
Keyword for testing: `getAllRolesInDomain`

Pasting text into the searching box won't get any response, even after pressing `enter` key,
![K4MH 4G ~TJNCA1$KHWCHJG](https://user-images.githubusercontent.com/20621784/175500591-b5f47225-a8d5-4936-8a2a-a07dc1d4ef01.png)

In the meantime, typing works well.
![QCSR_UUJ%~H~~{{KGKJ$9JF](https://user-images.githubusercontent.com/20621784/175500620-8bf4fc72

[2022-06-24 09:08] JalinWang commented on #352
Furthur investment: This is because no doc is related to `getAllRolesInDomain`.

Is it better to add an empty searching result popup instead of doing nothing?

[2022-06-24 12:26] hsluoyz commented on #352
@Selflocking @EmperorYP7 @leo220yuyaodog

[2022-06-26 15:40] JalinWang opened #355 "Lack doc for `UpdateFilteredPolicies`"
There is no doc for `Enforcer.UpdateFilteredPolicies`.
![image](https://user-images.githubusercontent.com/20621784/175822120-ffeba363-b3d2-42be-b2b8-dcfe991b0d61.png)

![image](https://user-images.githubusercontent.com/20621784/175822136-4404c275-9343-4ff3-b5b8-974163f9e116.png)

[2022-07-26 14:06] JalinWang commented on #352
already upgraded to v2 https://github.com/casbin/casbin-website-v2/issues/66

[2022-07-26 14:06] #352 closed

[2022-07-26 14:43] hsluoyz commented on #355
@JalinWang can you check the v2 site?

[2022-07-28 07:25] JalinWang commented on #355
Nope.
![image](https://user-images.githubusercontent.com/20621784/181446076-a53e8bf7-878f-4196-a5a0-815a0c514c39.png)

I'll fix it later.

[2022-07-28 07:25] #355 closed

[2022-08-21 09:24] hsluoyz opened #359 "Add a stronger singnal to guide users to v2 site"
We should show a big top banner in every page of v1 site to guide users to visite v2 site, like: https://casbin.org/docs/en/overview

![image](https://user-images.githubusercontent.com/3787410/185784499-73f28f6e-ad50-4655-a757-b9faa0496723.png)

[2022-08-21 09:24] hsluoyz commented on #359
@Selflocking

[2022-08-22 14:27] hsluoyz opened #360 "Migrate "DocSearch by Algolia" to new infrastructure"
See: https://docsearch.algolia.com/docs/migrating-from-legacy

![image](https://user-images.githubusercontent.com/3787410/185945821-1871bcf5-7ea1-4d13-898b-36de8fec6294.png)

[2022-08-25 15:17] hsluoyz commented on #360
Done

[2022-08-25 15:17] #360 closed

[2022-08-28 15:00] #359 closed